<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base target="_top">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  </head>
  <title>Pepup automation tool</title>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="icon-clickable navbar-brand" href="https://pepup.life/users/sign_in">
        <img src="https://pepup-assets.s3-ap-northeast-1.amazonaws.com/dist/shared/assets/logo-ec9ac7ac885849639024069d7cc24223.png" width="66" height="20" class="d-inline-block align-center" alt="">
      </a>
      <span>Pepup Automation</span>
    </nav>
    <div class="main container">
      <div class="content">
        <div class="card">
          <div class="card-header h2 lead">Login</div>
          <label class="col-4 label">ID</label>
          <div class="input-group col-12">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
            </div>
            <input id="loginId" class="form-control" name="email" type="email" placeholde="Please input login ID..." autocomplete="on">
          </div>
          <label class="col-4 label">Password</label>
          <div class="input-group col-12">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
            </div>
            <input id="password" class="form-control" name="password" type="password" placeholde="Please input password..." autocomplete="on">
          </div>
        </div><br>
        <div class="card">
          <div class="card-header h2 lead">Input</div>
          <label class="col-4 label">日付</label>
          <div class="input-group col-12">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar fa-fw"></i></span>
            </div>
            <input type="text" id="datePickr" class="form-control" placeholde="date from..." readonly="readonly">
            <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
          </div>
          <label class="col-4 label">歩数</label>
          <!-- <div class="form-group row">
            <input type="tel" id="stepsFrom" class="col-5 form-control" placeholde="Please input steps range from..." value="8000">
            <span class="col-2 from-to">-</span>
            <input type="tel" id="stepsTo" class="col-5 form-control" placeholde="Please input steps range to..." value="12000">  
          </div> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-street-view fa-fw"></i></span>
            </div>
            <input type="tel" id="stepsFrom" class="form-control" placeholde="range from..." value="8000">
            <input type="tel" id="stepsTo" class="form-control" placeholde="rangte to..." value="12000">  
          </div>
        </div>
      </div><br>
      <div id="errorMsg" class="error-msg alert alert-danger hidden" role="alert" >
      </div>
      <button id="registBtn" type="button" class="btn btn-lg btn-primary mx-auto d-block" onclick="regist()">Regist</button>
      <button id= "loading" class="btn btn-lg btn-primary mx-auto d-block hidden" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <!-- Loading modal -->
      <div class="modal fade" id="modalLoading" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="d-flex justify-content-center">
                <div class="spinner-border text-info m-5" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Success modal -->
      <div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="label1">Success!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="result-display">
                <a id="resultLink" href><img id="resultContent" alt="result" src></a>
              </div>
              <a href="https://pepup.life/scsk_mileage_campaigns">Please confirm to update pepup info</a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Failed modal -->
      <div class="modal fade" id="modalFailed" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="label1">Failed...</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Please check your input parameters...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="./script.js"></script>
  </body>
</html>